<div class="gg d-flex ">
  <div class="card   bg-danger" style="width: 18rem;">
    <div class="card-body  bg-info mx-2">
      <h5 class="card-title">{{task}}</h5>
      <div class="btns d-flex justify-content-around" >
        <button #notDoneBlock type="button" class="btn btn-primary btn-sm">Done</button>
        <button #doneBlock type="button" class="btn btn-primary btn-sm">Undo</button>
        <button type="button" class="btn btn-danger btn-sm">Delete</button>
      </div>
    </div>
  </div>

</div>
